@use "tokens";
@use "variables" as *;
@use "mixins" as *;

html {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  background: var(--bg);
  color: var(--text);
  font-family: "Poppins", system-ui, sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  // background-color: red;
}

/* Example card */
.card {
  @include glass(6px);
  border-radius: 1rem;
  padding: 1.5rem;
  border: 1px solid var(--divider);
  @include neon-border;
}

/* Example button */
.btn-primary {
  padding: 0.5rem 1rem;
  border-radius: 0.75rem;
  font-weight: 500;
  background: linear-gradient(180deg, var(--neon) 0%, var(--neon-2) 100%);
  color: #001c1c;
  transition:
    box-shadow 0.3s ease,
    transform 0.15s ease;

  &:hover {
    @include neon-border;
    transform: translateY(-1px);
  }
}
