.card {
  @include glass;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 1rem;
  padding: 1.5rem;
  @include neon-border;
}

.btn-primary {
  background: var(--color-neon);
  color: black;
  padding: 0.5rem 1rem;
  border-radius: 0.75rem;
  font-weight: 500;
  transition: 0.2s;
  &:hover {
    @include neon-border;
  }
}
